@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");
@import "tailwindcss";
@theme {
  --font-orbitron: "orbitron";
  --font-poppins: "poppins";
  @keyframes hover {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(15px);
    }
    100% {
      transform: translateY(-15px);
    }
  }
  --animate-hover: hover 3s ease-in-out infinite alternate;
}
